</br>
</br>
<hr>
</br>
<footer class="container">
  <p>&copy; 2019 Web Apps Fall 2019</p>
  <p class="text-muted"><a href="https://github.com/denisecase/node-express-mvc-ejs-start">Source</a></p>
</footer>