<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <h1>Web App Developers - Fall 2019</h1>
      <br>
      <hr>
      <h3>During development, test api here.</h3>
      <br>
      <h2>DEVELOPER</h2>
      <br>
      <h4>Developer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/developer/findall">http://localhost:3004/developer/findall</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/99">http://localhost:3004/developer/findone/99</a>
        </li>
      </ol>

      <h4>Developer: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/developer">http://localhost:3004/developer</a>
        </li>
        <li> <a href="http://localhost:3004/developer/create">http://localhost:3004/developer/create</a>
        </li>
        <li> <a href="http://localhost:3004/developer/edit/99">http://localhost:3004/developer/edit/99</a>
        </li>
        <li> <a href="http://localhost:3004/developer/delete/99">http://localhost:3004/developer/delete/99</a>
        </li>
        <li> <a href="http://localhost:3004/developer/details/99">http://localhost:3004/developer/details/99</a>
        </li>
      </ol>
      <hr>
      <br>

      <h2>INSTRUCTOR</h2>
      <br>
      <h4>Instructor: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/instructor/findall">http://localhost:3004/instructor/findall</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/99">http://localhost:3004/instructor/findone/99</a>
        </li>
      </ol>
    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>