<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <h1>Web App Developers - Fall 2019</h1>
      <br>
      <hr>
      <h3>During development, test api here.</h3>
      <br>
      <h2>DEVELOPER</h2>
      <br>
      <h4>Developer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./developer/findall">developer/findall</a>
        </li>
        <li> <a href="./developer/findone/99">developer/findone/99</a>
        </li>
      </ol>

      <h4>Developer: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="./developer">developer</a>
        </li>
        <li> <a href="./developer/create">developer/create</a>
        </li>
        <li> <a href="./developer/edit/99">developer/edit/99</a>
        </li>
        <li> <a href="./developer/delete/99">developer/delete/99</a>
        </li>
        <li> <a href="./developer/details/99">developer/details/99</a>
        </li>
      </ol>
      <hr>
      <br>

      <h2>CUSTOMER</h2>
      <br>
      <h4>Customer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./customer/findall">customer/findall</a>
        </li>
        <li> <a href="./customer/findone/91">customer/findone/91</a>
        </li>
      </ol>
    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>