<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Your name </h1>
      <h2> Include your about site </h2>

      <br>
      <br>
    </div>
  </div>
</div>